@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --bleuClair: #DEEBFF;
    --bleuFonce: #0065FC;
    --gris: #F2F2F2;
}

/* ------- Proprietes communes à toute la page ------- */

a:link,
a:visited {
    color: Black;
    text-decoration: none;
}

.icone {
    height: 1rem;
    width: 1rem;
}

.etoile {
    height: .8rem;
    width: .8rem;
}

/* ------- Description des elements constitutifs, de haut en bas ------- */
html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body, header, #blocRecherche, #blocResultats, #blocResultats article, #activites, #cartesActivites, #logoEtMenu, #menu, header ul, #barreRecherche, #barreFiltres,
#barreFiltres a, #barreFiltres ul, #barreFiltres li, #blocRecherche p, #hebergement, #monPiedDePage, aside, .carteHebergement figure, .cartePopulaire figure,
#titrePopulaires, .activitesPetitesCartes {
    display:flex;
    flex-wrap: wrap;
}

#logoEtMenu {
    padding-top: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#logo {
    width: 6rem;
}

#menu {
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu a {
    padding: 1.5rem;
    padding-top: 2.75rem;
    border-top: blue;
}

#menu a:visited {
    color: var(--bleuFonce);
}

#menu a:active,
#menu a:hover {
    border-top: 2px solid var(--bleuFonce);
}

#titre h1{
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

header,
#blocRecherche {
    justify-content: space-between;
    flex-direction: column;
}

#barreRecherche{
    margin-top: 1rem;
}

.imgRecherche {
    background: var(--gris);
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
}

#inputRecherche {
    border-bottom: .1rem solid var(--gris);
    border-left: none;
    border-right: none;
    border-top: .1rem solid var(--gris);
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    max-width: 15rem;
    padding: 1rem;
    outline: none;
    vertical-align: top;
}

#envoyer1 {
    background: var(--bleuFonce);
    border: none;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    color: var(--gris);
    font-size: 0.9rem;
    outline: 0;
    padding: 1rem;
}

#envoyer1:active {
    background: var(--gris);
    color: var(--bleuFonce);
}

#envoyer2 {
    display: none;
}

::placeholder {
    color: black;
    font-family: Raleway;
    font-weight: bold;
}

::-moz-placeholder {
    color: black;
    font-family: Raleway;
    font-weight: bold;
    opacity: 1;
}

:-ms-input-placeholder {
    color: black;
    font-family: Raleway;
    font-weight: bold;
}

#barreFiltres {
    font-size: 1rem;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

#barreFiltres p {
    margin-right: 2rem;
}

#barreFiltres ul {
    flex-wrap: wrap;
    align-items: stretch;
}

#barreFiltres li {
    list-style: none;
    flex-direction: row;
    align-items: center;
}

.pFiltre:hover {
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.0), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.imgFiltre {
    background: var(--bleuClair);
    border-radius: 10rem;
    color: var(--bleuFonce);
    height: 1.25rem;
    margin-right: 1rem;
    padding: 1rem;
    width: 1.25rem;
    position: relative;
    z-index: 2;
}

.pFiltre {
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 0 2rem 2rem 0;
    margin-left: -2.5rem;
    margin-right: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
    position: relative;
}

.cercle {
    border: .1rem solid var(--gris);
    border-radius: 1rem;
    padding: .3rem;
    margin-top: -.4rem;
    margin-right: .5rem;
    height: .8rem;
    width: .8rem;
}

#blocResultats {
    margin-top: 2rem;
    /*justify-content: space-between;*/
}

#blocResultats article{
    background-color: var(--gris);
    border-radius: 1rem;
    flex-direction: column;
    margin-right: 2rem;
    padding: 2rem;
    width: 62%;
}

#blocResultats h2{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#blocResultats article h2{
    margin-left: 1.5%;
}

#hebergement {
    flex-wrap: wrap;
    justify-content: space-around;
}

.carteHebergement {
    height: 30%;
    margin: 1% 1% 2% 0;
    width: 30%;
}

.carteHebergement figure {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 1rem 0 rgba(0, 0, 0, 0.19);
    width: auto;
    margin: 0.01rem;
    flex-direction: column;
}

.imgCarteHebergement{
    border-radius: 1rem 1rem 0 0;
    height:7rem;
    margin: 2% 2% 0 2%;
    object-fit: cover;
    width: 96%;
}

.carteHebergement figcaption {
    margin: 0 2% 0 2%;
    padding: 0 0 0 0.4rem;
}

.carteHebergement h3 {
    margin: 0.5rem 0 0.4rem 0;
}

.carteHebergement .notation{
    height: 0.6rem;
    width: auto;
    padding-bottom: .2rem;
}

.carteHebergement p {
    margin: 0 0 0.5rem 0;
    font-size: .9rem;
}

#afficherPlus {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 1.5%;
}

#blocResultats aside {
    background-color: var(--gris);
    border-radius: 1rem;
    flex-direction: column;
    margin: 0 0 0 0.6rem;
    padding: 0.6rem;
    padding-top: 2rem;
    width:28%;
}

#titrePopulaires{
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.iconePopulaire {
    height: 1.5rem;
    width: 1.5rem;
}

.cartePopulaire {
    margin: .5rem 1.5rem 0 1.5rem;
    margin-bottom: 7%;
    font-size: .9rem;
}

.imgCartePopulaire{
    /*float: left;*/
    border-radius: 0.9rem 0 0 0.9rem;
    width: 33%;
    height: 8.5rem;
    object-fit: cover;
    margin: 1.5%;
}

.cartePopulaire figure {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 1rem 0 rgba(0, 0, 0, 0.19);
    flex-wrap: nowrap;
}

.cartePopulaire figcaption {
    margin: 0 1rem 0 .4rem;
    position: relative;
}

.cartePopulaire h3 {
    margin: 1rem 0 1rem 0;
}

.cartePopulaire .notation{
    position:absolute;
    bottom: 1rem;
}

#activites{
    margin-top: 4rem;
    flex-direction: column;
}

#activites h2{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

#cartesActivites {
    flex-direction: row;
    justify-content: space-between;
}

.activitesPetitesCartes {
    flex-direction: column;
    justify-content: space-between;
}
#activites figure {
    border-radius: 1rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 1rem 0 rgba(0, 0, 0, 0.19);
    width: auto;
    flex-direction: column;
}

#activites img {
    border-radius: 1rem 1rem 0 0;
}

#activites h3{
    padding: 1rem;
}

.imgGrandeCarteActivite {
    height: 23rem;
    max-width: 19rem;
    object-fit: cover;
}

.imgPetiteCarteActivite {
    width: 19rem;
    object-fit: cover;
}

.imgPomegues {
    height: 11.6rem;
}

.imgFrioul {
    height: 6.8rem;
}

.imgGarde {
    height: 8.9rem;
}

.imgLongchamp {
    height: 10rem;
}

footer {
    background-color: var(--gris);
    margin-top: 3rem;
    width: 100%;
}

#conteneurMenu{
    display: flex;
    flex-direction: row;
}

footer li {
    align-items: baseline;
    line-height: 1rem;
    list-style: none;
    margin-bottom: 1rem;
}

footer ul {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#monPiedDePage {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 75%;
}

.piedDePage h2 {
    font-size: 1.15rem;
    padding-bottom: .5rem;
}