/* ------- Proprietes communes à toute la page ------- */

a:link {
	color: Black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

.checked { /* Etoiles notation */
	color:#0065FC; /* Bleu du modèle, recupere à la pipette de Photoshop */
  }

.notChecked {
	color: #d9d9d9; /* Etoiles notation */
}

@font-face {
	font-family: "Raleway";
	src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

.icone {
	height: 1rem;
	width: 1rem;
}
/* ------- Description des elements constitutifs, de haut en bas ------- */

body {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	padding-top: 2rem;
	scroll-behavior: smooth;
}

main {
	max-width: 1440px;
}

header {
	display: flex;
	width:1440px;
}

header h1{
	font-size: 1.3rem;
}

header ul {
	display: flex;
}

header li {
	list-style: none;
}

header nav {
	line-height: 3rem;
}

header nav a{
	padding: 1.5rem;
	padding-top: 3.3rem;
	border-top: blue;
}

header nav a:visited{
	color:#0065FC;
}

header nav a:hover {
	border-top: 2px solid #0065FC;
}

.logo {
	width : 6rem;
}

/* --- Recherche --- */
#blocRecherche {
	display:flex;
	flex-direction: column;
}

.barreRecherche{
	display: flex;
	flex: 1;
	position: relative;
}

.imgRecherche {
	background: #F2F2F2;
	border-radius: 1rem 0 0 1rem;
	padding: 1rem;
}

.inputRecherche {
	border-bottom: .1rem solid #F2F2F2;
	border-left: none;
	border-right: none;
	border-top: .1rem solid #F2F2F2;
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: bold;
	height:3rem;
	max-width: 15rem;
	padding: 1rem;
	outline: none;
	vertical-align: top;
}

.envoyer {
	background: #0065FC;
	border: none;
	border-left: none;
	border-radius: 0 1rem 1rem 0;
	color: #F2F2F2;
	font-size: 0.9rem;
	padding: 1rem;
}

.barreFiltres {
	display : flex;
	font-size: 1rem;;
	font-weight: bold;
	margin-top: 1rem;
}

.filtre {
	display: flex;
	margin-left: 1rem;
}

.filtre:hover .pFiltre {
	box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.0), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
	bottom:0.9rem;
}

.filtre:hover .imgFiltre {
	box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.0), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
	height:1.5rem;
	width: 1.5rem;
}

.imgFiltre {
	background: #DEEBFF;
	border-radius: 10rem;
	color: #0065FC;
	height: 1.4rem;
	padding: 1rem;
	width: 1.4rem;
	z-index: 2;
}

.pFiltre {
	border: 2px solid #d9d9d9;
	border-left: none;
	border-radius: 0  3rem 3rem 0;
	bottom: 1rem;
	font-size: 1rem;
	font-weight: bold;
	margin-left:-1.5rem;
	padding: 1rem;
	padding-left : 2rem;
	position:relative;
	z-index:1;
}

.barreInfos {
	display: flex;
	margin-bottom: 1rem;
	margin-top: -1rem;
}

.cercle {
    border: .1rem solid #F2F2F2;
    border-radius: 1rem;
    height: .8rem;
	padding: 0.3rem;
	margin-right: 0.5rem;
	margin-top: 0.7rem;
	width: 1rem;
}

#blocHaut {
	display: flex;
}

#blocHebergement {
	background-color: #F2F2F2;
	border-radius: 1rem 1rem 1rem 1rem;
	max-width: 60%;
	padding: 2rem;
	padding-top: 0.5rem;
	margin-right: 2rem;
}

#titreHebergement {
	font-size: 1rem;
	padding-left: 1rem;;
}

#hebergement {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* --- images --- */
.imgGeneral {
	border-radius: 1rem 1rem 0 0;
	object-fit: cover;
}

.imgCarteHebergement {
	max-height:7.3rem;
	width:14.6rem;
}

.imgCartePopulaire {
	border-radius: 1rem 0 0 1rem;
	height:8.5rem;
	width:8.1rem
}

.imgGrandeCarteActivite {
	height:25rem;
	max-width:19rem;
	object-fit: cover;
}

.imgPetiteCarteActivite {
	height:12.5rem;
	width:19rem;
	object-fit: cover;
}
/* --- Fin images --- */

/* --- cartes --- */
.carte {
	background-color: white;
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.0), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
	display: flex;
	margin : 2rem;
}

.carteHebergement {
	margin : 0;
	margin-bottom: 1.5rem;
	padding: 0.3rem;
}

.cartePopulaire {
	margin-bottom: 1.5rem;
	margin-top: 0;
	flex-direction: row;
	padding: 0.3rem;
}

.grandeCarteActivite {
	margin : 0;
	margin-bottom: 1.5rem;
	width:19rem;
	flex-direction: column;
}

.petiteCarteActivite {
	margin : 0;
	margin-bottom: 1.5rem;
	width:19rem;
	flex-direction: column;
}
/* --- Fin cartes --- */

/* --- textes cartes --- */
.texteCarteHebergement {
	display:block;
	padding: 1rem;
	line-height: 0;
	margin-top: -1rem;
}

.texteCarteHebergement h2{
	font-size: 1rem;
	padding-bottom: .5rem;
}

.textePopulaire {
	font-size: 0.8rem;
	display:block;
	padding: 1rem;
	line-height: 1rem;
	margin-top: -1.5rem;
}

/* --- Fin textes cartes --- */

aside {
	background-color: #F2F2F2;
	border-radius: 1rem 1rem 1rem 1rem;
	max-width: 30%;
}

#titrePopulaires {
	display:flex;
	justify-content: space-between;
	padding: 2rem;
	padding-bottom: 0;
	padding-top: 0.5rem;
}

.iconePopulaire {
	position: relative;
	top: 1.5rem;
	height: 1.5rem;
	width: 1.5rem;
}

#blocBas {
	display: flex;
	flex-direction: column;
}

#activites {
	display: flex;
	justify-content: space-between;
}

#activites h2{
	font-size: 1rem;
	padding-left: 1rem;
}

#activites h1 {
	display:block;
	padding-left: 1rem;
	line-height: 0;
}

footer {
	display:flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	justify-content: center;
	margin-top: 3rem;
	width:100%;
	bottom:0;
}

footer li {
	align-items: baseline;
	list-style: none;
	margin-bottom: 1rem;
}

footer ul{
	margin-right: 18rem;
}

#monPiedDePage {
	display:flex;
	justify-content: space-around;
	margin-top: 2rem;
	width:100%;
}